Repository airshipit/promenade: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Path conditions:
  airship-promenade-unit-py35: any of: ^.*\.py$
  airship-promenade-docker-build-gate-ubuntu_xenial: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate-ubuntu_bionic: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-post-ubuntu_xenial: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-post-ubuntu_bionic: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate-ubuntu_jammy: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-publish_ubuntu_jammy: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$

Allow to determine k8s node role by hostname
  promenade/control/join_scripts.py
  promenade/schemas/KubernetesNode.yaml
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Setup kubelet configuration compatible with kubeadm
  promenade/templates/include/kubelet-config.yaml
  promenade/templates/roles/common/etc/default/kubelet
  promenade/templates/roles/common/etc/kubernetes/kubelet/config.yaml
  promenade/templates/roles/common/etc/systemd/system/kubelet.service
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Skip zero length files from adding into bundle
  promenade/tar_bundler.py
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Add necessary labels & annotations to etcd chart
  charts/etcd/templates/bin/_etcdctl_anchor.tpl
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
Due: none

Change apiserver endpoint for armada bootstrap
  promenade/templates/roles/genesis/etc/genesis/armada/auth/config
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Add container security context for coredns health
  charts/coredns/templates/deployment.yaml
  charts/coredns/values.yaml
Due: none

Airflow upgrade to 3.0.2
  charts/apiserver-webhook/Chart.yaml
  charts/apiserver-webhook/values.yaml
  charts/apiserver/Chart.yaml
  charts/apiserver/values.yaml
  charts/calico/values.yaml
  charts/controller_manager/Chart.yaml
  charts/controller_manager/values.yaml
  charts/coredns/values.yaml
  charts/etcd/Chart.yaml
  charts/etcd/values.yaml
  charts/haproxy/Chart.yaml
  charts/haproxy/values.yaml
  charts/promenade/Chart.yaml
  charts/promenade/values.yaml
  charts/scheduler/Chart.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/armada-resources.yaml
  requirements-direct.txt
  requirements-frozen.txt
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/g2/lib/config.sh
  tools/gate/default-config-env
  tools/install-external-deps.sh
  tools/registry/IMAGES
  tox.ini
  zuul.d/jobs.yaml
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Create empty bootstrap-armada.yaml file if doesn't exist
  promenade/templates/scripts/genesis.sh
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

[etcd] Add remote backups failover support
  charts/etcd/templates/secret-rgw.yaml
  charts/etcd/values.yaml
Due: none

Add kubernetes-registry image
  Makefile
  examples/containerd/Docker.yaml
  images/kubernetes-registry/Dockerfile.ubuntu_jammy
  images/kubernetes-registry/assets/config.yml
  images/kubernetes-registry/setup.sh
  tools/zuul/playbooks/docker-image-build.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Remove apparmor annotations
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/calico/values.yaml
  charts/controller_manager/values.yaml
  charts/coredns/values.yaml
  charts/etcd/values.yaml
  charts/haproxy/values.yaml
  charts/promenade/values.yaml
  charts/scheduler/values.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Move kubelet binary to /usr/local/bin
  doc/source/configuration/host-system.rst
  examples/basic/HostSystem.yaml
  examples/complete/HostSystem.yaml
  examples/containerd/HostSystem.yaml
  examples/gate/HostSystem.yaml
  promenade/templates/roles/common/etc/systemd/system/kubelet.service
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/HostSystem.yaml
  tools/gate/config-templates/site-config.yaml
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Add haproxy startup script
  promenade/templates/roles/common/usr/local/bin/haproxy
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Allow to extract data from config files using jsonpath
  promenade/config.py
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Use auxilary haproxy script instead of static pod manifest
  promenade/templates/roles/common/etc/kubernetes/manifests/haproxy.yaml
  promenade/templates/scripts/genesis.sh
  promenade/templates/scripts/join.sh
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Add k8s certs to pki folder with standard names
  promenade/templates/roles/common/etc/kubernetes/pki/apiserver-etcd-client.crt
  promenade/templates/roles/common/etc/kubernetes/pki/apiserver-etcd-client.key
  promenade/templates/roles/common/etc/kubernetes/pki/apiserver-kubelet-client.crt
  promenade/templates/roles/common/etc/kubernetes/pki/apiserver-kubelet-client.key
  promenade/templates/roles/common/etc/kubernetes/pki/apiserver.crt
  promenade/templates/roles/common/etc/kubernetes/pki/apiserver.key
  promenade/templates/roles/common/etc/kubernetes/pki/ca.crt
  promenade/templates/roles/common/etc/kubernetes/pki/ca.key
  promenade/templates/roles/common/etc/kubernetes/pki/controller-manager-key.pem
  promenade/templates/roles/common/etc/kubernetes/pki/controller-manager.pem
  promenade/templates/roles/common/etc/kubernetes/pki/etcd/ca.crt
  promenade/templates/roles/common/etc/kubernetes/pki/etcd/healthcheck-client.crt
  promenade/templates/roles/common/etc/kubernetes/pki/etcd/healthcheck-client.key
  promenade/templates/roles/common/etc/kubernetes/pki/front-proxy-ca.crt
  promenade/templates/roles/common/etc/kubernetes/pki/front-proxy-ca.key
  promenade/templates/roles/common/etc/kubernetes/pki/front-proxy-client.crt
  promenade/templates/roles/common/etc/kubernetes/pki/front-proxy-client.key
  promenade/templates/roles/common/etc/kubernetes/pki/sa.key
  promenade/templates/roles/common/etc/kubernetes/pki/sa.pub
  promenade/templates/roles/common/etc/kubernetes/pki/scheduler-key.pem
  promenade/templates/roles/common/etc/kubernetes/pki/scheduler.pem
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Openstack 2025.1 Epoxy support
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Disable genesis control plane manifests if kubeadm is enabled
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-apiserver.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-controller-manager.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-scheduler.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Allow to register annotations for kubelet node
  promenade/templates/include/utils.sh
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Update kubernetes to v1.33.5
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/kubeadm/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Disable voting for containerd job
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Add kubeadm annotations to apiserver chart
  charts/apiserver/templates/bin/_anchor.tpl
  charts/apiserver/templates/daemonset.yaml
  charts/apiserver/templates/etc/_kubernetes-apiserver.yaml.tpl
Due: none

Add kubeadm-compatible label to controller-manager pods
  charts/controller_manager/templates/etc/_kubernetes-controller-manager.yaml.tpl
Due: none

Add kubeadm-compatible label to scheduler pods
  charts/scheduler/templates/etc/_kubernetes-scheduler.yaml.tpl
Due: none

Use component:etcd label for etcd service
  charts/etcd/templates/service.yaml
Due: none

Initialize etcd (and aux etcd) pods using kubeadm
  promenade/templates/include/utils.sh
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Remove kubeadm join config from promenade templates
  promenade/templates/roles/join/etc/kubernetes/kubeadm/join-config.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Use registry image from quay.io
  images/kubernetes-registry/setup.sh
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Use haproxy image from quay.io
  doc/source/configuration/host-system.rst
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  promenade/templates/roles/common/usr/local/bin/haproxy
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Fix armadachart-install cmd in helm script
  promenade/templates/roles/common/usr/local/bin/helm
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Add etcd certificates at kubeadm compatible locations
  promenade/templates/roles/genesis/etc/kubernetes/pki/etcd/ca-peer.crt
  promenade/templates/roles/genesis/etc/kubernetes/pki/etcd/ca.crt
  promenade/templates/roles/genesis/etc/kubernetes/pki/etcd/healthcheck-client.crt
  promenade/templates/roles/genesis/etc/kubernetes/pki/etcd/healthcheck-client.key
  promenade/templates/roles/genesis/etc/kubernetes/pki/etcd/peer.crt
  promenade/templates/roles/genesis/etc/kubernetes/pki/etcd/peer.key
  promenade/templates/roles/genesis/etc/kubernetes/pki/etcd/server.crt
  promenade/templates/roles/genesis/etc/kubernetes/pki/etcd/server.key
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Move k8s cp cert templates from common to genesis
  promenade/templates/roles/genesis/etc/kubernetes/apiserver/acconfig.yaml
  promenade/templates/roles/genesis/etc/kubernetes/apiserver/audit-policy.yaml
  promenade/templates/roles/genesis/etc/kubernetes/apiserver/encryption_provider.yaml
  promenade/templates/roles/genesis/etc/kubernetes/apiserver/eventconfig.yaml
  promenade/templates/roles/genesis/etc/kubernetes/controller-manager.conf
  promenade/templates/roles/genesis/etc/kubernetes/pki/apiserver-etcd-client.crt
  promenade/templates/roles/genesis/etc/kubernetes/pki/apiserver-etcd-client.key
  promenade/templates/roles/genesis/etc/kubernetes/pki/apiserver-kubelet-client.crt
  promenade/templates/roles/genesis/etc/kubernetes/pki/apiserver-kubelet-client.key
  promenade/templates/roles/genesis/etc/kubernetes/pki/apiserver.crt
  promenade/templates/roles/genesis/etc/kubernetes/pki/apiserver.key
  promenade/templates/roles/genesis/etc/kubernetes/pki/ca.crt
  promenade/templates/roles/genesis/etc/kubernetes/pki/ca.key
  promenade/templates/roles/genesis/etc/kubernetes/pki/controller-manager-key.pem
  promenade/templates/roles/genesis/etc/kubernetes/pki/controller-manager.pem
  promenade/templates/roles/genesis/etc/kubernetes/pki/front-proxy-ca.crt
  promenade/templates/roles/genesis/etc/kubernetes/pki/front-proxy-ca.key
  promenade/templates/roles/genesis/etc/kubernetes/pki/front-proxy-client.crt
  promenade/templates/roles/genesis/etc/kubernetes/pki/front-proxy-client.key
  promenade/templates/roles/genesis/etc/kubernetes/pki/kubelet-client-ca.pem
  promenade/templates/roles/genesis/etc/kubernetes/pki/kubelet-key.pem
  promenade/templates/roles/genesis/etc/kubernetes/pki/kubelet.pem
  promenade/templates/roles/genesis/etc/kubernetes/pki/sa.key
  promenade/templates/roles/genesis/etc/kubernetes/pki/sa.pub
  promenade/templates/roles/genesis/etc/kubernetes/pki/scheduler-key.pem
  promenade/templates/roles/genesis/etc/kubernetes/pki/scheduler.pem
  promenade/templates/roles/genesis/etc/kubernetes/scheduler.conf
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Kubeadm etcd support
  charts/kubeadm/templates/bin/_anchor.tpl
  charts/kubeadm/templates/configmap-certs.yaml
  charts/kubeadm/templates/configmap-etcd-certs.yaml
  charts/kubeadm/templates/configmap-kubeadm.yaml
  charts/kubeadm/templates/daemonset-masters.yaml
  charts/kubeadm/templates/daemonset-workers.yaml
  charts/kubeadm/templates/etcd-service.yaml
  charts/kubeadm/templates/kubeadm/_cluster_config.yaml.tpl
  charts/kubeadm/templates/kubeadm/_join_config.yaml.tpl
  charts/kubeadm/templates/kubeadm/_upgrade_config.yaml.tpl
  charts/kubeadm/values.yaml
  examples/containerd/armada-resources.yaml
  promenade/templates/roles/genesis/etc/kubernetes/kubeadm/init-config.yaml
  promenade/templates/roles/genesis/etc/kubernetes/kubeadm/patches/etcd.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/auxiliary-kubeadm-etcd.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-etcd.yaml
  promenade/templates/scripts/genesis.sh
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Airflow 3.1.1 update
  charts/calico/Chart.yaml
  charts/calico/values.yaml
  doc/source/configuration/host-system.rst
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  requirements-direct.txt
  requirements-frozen.txt
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/config-templates/bootstrap-armada-config.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
  tools/zuul/playbooks/deploy-promenade-containerd.yaml
  tools/zuul/playbooks/docker-image-build.yaml
  tox.ini
  zuul.d/jobs.yaml
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Add support of tag+sha etcd image
  charts/etcd/templates/bin/_etcdctl_anchor.tpl
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/values.yaml
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Revert "Airflow 3.1.1 update"
  charts/calico/Chart.yaml
  charts/calico/values.yaml
  doc/source/configuration/host-system.rst
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  requirements-direct.txt
  requirements-frozen.txt
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/config-templates/bootstrap-armada-config.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
  tools/zuul/playbooks/deploy-promenade-containerd.yaml
  tools/zuul/playbooks/docker-image-build.yaml
  tox.ini
  zuul.d/jobs.yaml
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Fix kubelet certs issue
  promenade/templates/roles/common/etc/kubernetes/pki/kubelet-client-ca.pem
  promenade/templates/roles/common/etc/kubernetes/pki/kubelet-key.pem
  promenade/templates/roles/common/etc/kubernetes/pki/kubelet.pem
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Airflow 3.1.1 update #2
  doc/source/configuration/host-system.rst
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  requirements-direct.txt
  requirements-frozen.txt
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/config-templates/bootstrap-armada-config.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
  tools/zuul/playbooks/deploy-promenade-containerd.yaml
  tools/zuul/playbooks/docker-image-build.yaml
  tox.ini
  zuul.d/jobs.yaml
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Introduce etcd backup cronjob compatible with kubeadm
  charts/etcd/templates/cron-job-kubeadm-etcd-backup.yaml
  charts/etcd/values.yaml
Due: none
