Repository airshipit/promenade: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

airship-promenade-unit-py35:
  description: 'Executes unit tests under Python 3.5
  
    '
  run: tools/zuul/playbooks/make-tests.yaml
  timeout: 1500
  nodeset: airship-promenade-single-node

airship-promenade-docker-build-gate-ubuntu_xenial:
  voting: false
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: airship-promenade-single-node
  vars:
    publish: false
    distro: ubuntu_xenial
    tags:
      dynamic:
        patch_set: true

airship-promenade-docker-build-gate-ubuntu_bionic:
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: airship-promenade-single-node
  vars:
    publish: false
    distro: ubuntu_bionic
    tags:
      dynamic:
        patch_set: true

airship-promenade-docker-build-post-ubuntu_xenial:
  voting: false
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: airship-promenade-single-node
  secrets:
  - airship_promenade_quay_creds
  vars:
    publish: true
    distro: ubuntu_xenial
    tags:
      dynamic:
        branch: true
        commit: true
      static:
      - latest

airship-promenade-docker-build-post-ubuntu_bionic:
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: airship-promenade-single-node
  secrets:
  - airship_promenade_quay_creds
  vars:
    publish: true
    distro: ubuntu_bionic
    tags:
      dynamic:
        branch: true
        commit: true
      static:
      - latest

airship-promenade-unit-py38:
  description: 'Executes unit tests under Python 3.8
  
    '
  run: tools/zuul/playbooks/make-tests.yaml
  timeout: 1500
  nodeset: airship-promenade-single-node-focal

airship-promenade-docker-build-gate:
  voting: true
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: airship-promenade-single-node-focal
  vars:
    publish: false
    distro: ubuntu_focal
    tags:
      dynamic:
        patch_set: true

airship-promenade-docker-build-post:
  voting: false
  run: tools/zuul/playbooks/docker-image-build.yaml
  nodeset: airship-promenade-single-node-focal
  secrets:
  - airship_promenade_quay_creds
  vars:
    publish: true
    distro: ubuntu_focal
    tags:
      dynamic:
        branch: true
        commit: true
      static:
      - latest

[backups] Added staggered backups
  charts/etcd/Chart.yaml
  charts/etcd/templates/cron-job-etcd-backup.yaml
  charts/etcd/values_override/staggered-backups.yaml
Due: none

[backups] Update staggered backups
  charts/etcd/templates/cron-job-etcd-backup.yaml
  charts/etcd/values_override/staggered-backups.yaml
Due: none

Change permissions to 0600 of kubelet.service.
  promenade/templates/include/up.sh
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

[backups] Add throttlling of remote etcd backups
  charts/etcd/Chart.yaml
  charts/etcd/templates/cron-job-etcd-backup.yaml
  charts/etcd/templates/secret-backup-restore.yaml
  charts/etcd/values.yaml
Due: none

Helm toolkit uplift
  examples/basic/HostSystem.yaml
  examples/complete/HostSystem.yaml
  examples/containerd/HostSystem.yaml
  examples/gate/HostSystem.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/HostSystem.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/helm_tk.sh
  tools/registry/IMAGES
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Enable configurable support of armada apply operator mode
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Upgrade kubernetes to v1.29.0
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Add complete support for operator-based bootstrap
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
  promenade/templates/scripts/genesis.sh
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Update helm toolkit reference
  tools/helm_tk.sh
Due: none

Update ETCD to v3.5.11
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/values.yaml
  doc/source/configuration/genesis.rst
  examples/basic/Genesis.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/armada-resources.yaml
  promenade/schemas/Genesis.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/auxiliary-kubernetes-etcd.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/config-templates/bootstrap-armada-config.yaml
  tools/gate/config-templates/genesis-config.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Add liveness and readiness probe
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
Due: none

Adjust kubectl get command for armada charts
  promenade/templates/scripts/genesis.sh
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Add resource allocation setting for etcd sidecar
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/values.yaml
Due: none

Airflow stable 2.8.1
  images/promenade/Dockerfile.ubuntu_focal
  promenade/kubeclient.py
  requirements-direct.txt
  requirements-frozen.txt
  tox.ini
  zuul.d/jobs.yaml
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Airflow stable 2.8.2
  requirements-direct.txt
  requirements-frozen.txt
  tox.ini
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Update k8s to v1.29.2
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Fix exception handling
  promenade/control/validatedesign.py
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Add configurable ETCD parameters to aux cluster
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/coredns/Chart.yaml
  charts/coredns/values.yaml
  charts/etcd/values.yaml
  charts/promenade/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  promenade/schemas/Genesis.yaml
  promenade/templates/include/genesis-etcd/server-container.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

ETCD improvements
  charts/etcd/templates/bin/_etcdctl_anchor.tpl
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/values.yaml
  promenade/templates/include/genesis-etcd/server-container.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/auxiliary-kubernetes-etcd.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

ETCD aux pod define resources
  charts/etcd/templates/etc/_kubernetes-etcd.yaml.tpl
  charts/etcd/values.yaml
  promenade/schemas/Genesis.yaml
  promenade/templates/include/genesis-etcd/server-container.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/auxiliary-kubernetes-etcd.yaml
  tools/deployment/apparmor/001-setup-apparmor-profiles.sh
  tools/zuul/playbooks/deploy-promenade-containerd.yaml
  tools/zuul/playbooks/deploy-promenade.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Modify etcd anchor script
  charts/etcd/templates/bin/_etcdctl_anchor.tpl
Due: none

Remove etcd from haproxy cfg template
  examples/containerd/armada-resources.yaml
  examples/gate/armada-resources.yaml
  promenade/templates/roles/common/etc/promenade/haproxy/haproxy.cfg
  tools/gate/config-templates/bootstrap-armada-config.yaml
  zuul.d/project.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Airflow 2.10.2 + ubuntu_jammy
  Makefile
  images/promenade/Dockerfile.ubuntu_jammy
  requirements-direct.txt
  requirements-frozen.txt
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/project.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Adjust default values for haproxy chart
  charts/haproxy/values.yaml
Due: none

Etcd network policy
  charts/etcd/Chart.yaml
  charts/etcd/templates/networkpolicy.yaml
  charts/etcd/values.yaml
  charts/etcd/values_override/network_policies.yaml
  doc/source/configuration/host-system.rst
  examples/basic/HostSystem.yaml
  examples/complete/HostSystem.yaml
  examples/containerd/HostSystem.yaml
  examples/gate/HostSystem.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/HostSystem.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Bump up docker Pypi module version
  .readthedocs.yaml
  doc/source/conf.py
  tools/zuul/playbooks/docker-image-build.yaml
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Use command and args
  charts/apiserver-webhook/templates/bin/_webhook_start.sh.tpl
  charts/apiserver-webhook/templates/configmap-bin.yaml
  charts/apiserver-webhook/templates/deployment.yaml
Due: none

Airflow and Openstack modules upgrade
  requirements-direct.txt
  requirements-frozen.txt
  test-requirements.txt
  tox.ini
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Docker.io ratelimit workaround
  images/promenade/Dockerfile.ubuntu_jammy
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Updated base image docker repo url
  images/promenade/Dockerfile.ubuntu_jammy
  promenade/control/base.py
  promenade/control/middleware.py
  promenade/exceptions.py
  promenade/renderer.py
  promenade/validation.py
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Schema updates
  images/promenade/Dockerfile.ubuntu_jammy
  promenade/schemas/ArmadaPlaceholders.yaml
  promenade/schemas/DeckhandPlaceholders.yaml
  promenade/schemas/Docker.yaml
  promenade/schemas/EncryptionPolicy.yaml
  promenade/schemas/Genesis.yaml
  promenade/schemas/HostSystem.yaml
  promenade/schemas/Kubelet.yaml
  promenade/schemas/KubernetesNetwork.yaml
  promenade/schemas/KubernetesNode.yaml
  promenade/schemas/PKICatalog.yaml
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

HTK uplift and fix for helm_tk.sh
  tools/helm_tk.sh
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Fixed readthedocs publishing
  zuul.d/jobs.yaml
  zuul.d/project.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Update Kubernetes to v1.32.1
  .gitignore
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  promenade/schemas/Genesis.yaml
  promenade/templates/roles/common/etc/kubernetes/manifests/haproxy.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/auxiliary-kubernetes-etcd.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-apiserver.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-controller-manager.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/kubernetes-scheduler.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/registry/IMAGES
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Fix cronjob app armor annotion
  charts/etcd/templates/cron-job-etcd-backup.yaml
Due: none

Preparation for osh-infra merger
  charts/calico/Chart.yaml
  charts/calico/requirements.yaml
  charts/calico/templates/bin/_calico-settings.sh.tpl
  charts/calico/templates/bin/_install-calicoctl.sh.tpl
  charts/calico/templates/bird/_bird.cfg.template.tpl
  charts/calico/templates/bird/_bird6.cfg.template.tpl
  charts/calico/templates/bird/_bird6_ipam.cfg.template.tpl
  charts/calico/templates/bird/_bird_ipam.cfg.template.tpl
  charts/calico/templates/configmap-bin.yaml
  charts/calico/templates/configmap-bird.yaml
  charts/calico/templates/configmap-etc.yaml
  charts/calico/templates/daemonset-calico-etcd.yaml
  charts/calico/templates/daemonset-calico-node.yaml
  charts/calico/templates/deployment-calico-kube-controllers.yaml
  charts/calico/templates/etc/_bird-tar-deposit.base64.txt
  charts/calico/templates/job-calico-settings.yaml
  charts/calico/templates/job-image-repo-sync.yaml
  charts/calico/templates/secret-etcd-certificates.yaml
  charts/calico/templates/secret-registry.yaml
  charts/calico/templates/service-calico-etcd.yaml
  charts/calico/values.yaml
  doc/source/configuration/host-system.rst
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/config-templates/bootstrap-armada-config.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
  zuul.d/jobs.yaml
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Set stable HTK_COMMIT value
  examples/basic/armada-resources.yaml
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Libyaml and cfssl install from apt
  bindep.txt
  doc/source/configuration/host-system.rst
  examples/basic/HostSystem.yaml
  examples/complete/HostSystem.yaml
  examples/containerd/HostSystem.yaml
  examples/gate/HostSystem.yaml
  images/promenade/Dockerfile.ubuntu_jammy
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/HostSystem.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/image_tags.py
  tools/registry/IMAGES
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-unit-py38, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Allow to install/upgrade armada charts via helm script
  promenade/templates/roles/common/usr/local/bin/helm
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Armada bootstrap via helm
  promenade/schemas/Genesis.yaml
  promenade/templates/roles/genesis/etc/kubernetes/manifests/bootstrap-armada.yaml
  promenade/templates/scripts/genesis.sh
  tools/gate/config-templates/genesis-config.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate, airship-promenade-docker-build-post

Path conditions:
  airship-promenade-unit-py35: any of: ^.*\.py$
  airship-promenade-docker-build-gate-ubuntu_xenial: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate-ubuntu_bionic: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-post-ubuntu_xenial: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-post-ubuntu_bionic: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-unit-py38: any of: ^.*\.py$
  airship-promenade-docker-build-gate: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-post: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
