Repository airshipit/promenade: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Path conditions:
  airship-promenade-unit-py35: any of: ^.*\.py$
  airship-promenade-docker-build-gate-ubuntu_xenial: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate-ubuntu_bionic: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-post-ubuntu_xenial: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-post-ubuntu_bionic: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-build-gate-ubuntu_jammy: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$
  airship-promenade-docker-publish_ubuntu_jammy: unless all of: ^charts/.*$, ^etc/.*$, ^tests/.*$, ^tools/.*$

Airflow 3.1.5 update
  requirements-direct.txt
  requirements-frozen.txt
  tox.ini
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

New Quay.io credentials
  tools/zuul/playbooks/docker-image-build.yaml
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

New GitHub upload secret
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Noble image updates
  .gitignore
  .readthedocs.yaml
  Makefile
  images/kubernetes-registry/Dockerfile.ubuntu_noble
  images/promenade/Dockerfile.ubuntu_noble
  requirements-direct.txt
  requirements-frozen.txt
  tools/zuul/playbooks/docker-image-build.yaml
  tox.ini
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/project.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Fix docker images
  images/promenade/Dockerfile.ubuntu_noble
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Remove old kubeadm backups
  charts/kubeadm/templates/bin/_anchor.tpl
Due: none

Added failover openrc environment variables
  charts/etcd/templates/cron-job-etcd-backup.yaml
  charts/etcd/templates/cron-job-kubeadm-etcd-backup.yaml
  charts/etcd/templates/secret-rgw.yaml
  charts/etcd/values_override/backups.yaml
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Fix kubeadm backup removal
  charts/kubeadm/templates/bin/_anchor.tpl
Due: none

Log kubeadm anchor script output to /var/log
  charts/kubeadm/templates/bin/_anchor.tpl
  charts/kubeadm/templates/daemonset-masters.yaml
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Revert "Skip zero length files from adding into bundle"
  promenade/tar_bundler.py
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

add extraObjects to prepare for gateway api
  charts/apiserver-webhook/templates/extra-manifests.yaml
  charts/apiserver-webhook/templates/secret-tls.yaml
  charts/apiserver-webhook/values.yaml
Due: none

Fix k8s cert permissions
  charts/kubeadm/templates/bin/_anchor.tpl
Due: none

Perform kubeadm reset when kubeadm join command fails
  charts/kubeadm/templates/bin/_anchor.tpl
Due: none

Inherit playbooks from treasuremap
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Fix docker login creds
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Bump K8s, Helm, and base images
  charts/apiserver-webhook/values.yaml
  charts/apiserver/values.yaml
  charts/controller_manager/values.yaml
  charts/coredns/values.yaml
  charts/etcd/values.yaml
  charts/haproxy/values.yaml
  charts/kubeadm/values.yaml
  charts/promenade/values.yaml
  charts/proxy/values.yaml
  charts/scheduler/values.yaml
  charts/tigera-operator/values.yaml
  doc/source/configuration/genesis.rst
  doc/source/configuration/host-system.rst
  examples/basic/Genesis.yaml
  examples/basic/HostSystem.yaml
  examples/basic/armada-resources.yaml
  examples/complete/Genesis.yaml
  examples/complete/HostSystem.yaml
  examples/complete/armada-resources.yaml
  examples/containerd/Genesis.yaml
  examples/containerd/HostSystem.yaml
  examples/containerd/armada-resources.yaml
  examples/gate/Genesis.yaml
  examples/gate/HostSystem.yaml
  examples/gate/armada-resources.yaml
  images/kubernetes-registry/setup.sh
  tests/unit/api/test_validatedesign.py
  tests/unit/builder_data/simple/Genesis.yaml
  tests/unit/builder_data/simple/HostSystem.yaml
  tests/unit/builder_data/simple/armada-resources.yaml
  tools/gate/default-config-env
  tools/helm_install.sh
  tools/registry/IMAGES
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Fix kubeadm anchor genesis bootstrap failure and haproxy test timing
  charts/haproxy/templates/tests/test-haproxy-health.yaml
  charts/kubeadm/templates/bin/_anchor.tpl
Due: none

Airflow 3.2.2 update
  images/promenade/Dockerfile.ubuntu_noble
  promenade/builder.py
  promenade/design_ref.py
  promenade/renderer.py
  requirements-direct.txt
  requirements-frozen.txt
  setup.cfg
  setup.py
  test-requirements.txt
  tox.ini
Due: airship-promenade-unit-py35, airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Remove obsolete ingress templates from charts
  charts/apiserver-webhook/templates/ingress-api.yaml
  charts/apiserver-webhook/templates/service-ingress-api.yaml
  charts/apiserver-webhook/values.yaml
  charts/apiserver-webhook/values_overrides/gateway.yaml
  charts/apiserver/templates/ingress-api.yaml
  charts/apiserver/templates/secret-ingress-tls.yaml
  charts/apiserver/templates/service-apiserver-ingress.yaml
  charts/apiserver/values.yaml
  tools/helm_install.sh
  zuul.d/jobs.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Enable Deckhand substitution enhancement
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Disable zuul jobs
  .zuul.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Disable zuul jobs
  zuul.d/jobs.yaml
  zuul.d/nodesets.yaml
  zuul.d/project.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Update bootstrap cluster-info logic
  charts/apiserver-webhook/templates/deployment.yaml
  charts/apiserver-webhook/values.yaml
  charts/kubeadm/templates/bin/_anchor.tpl
  tox.ini
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Add aux haproxy systemd service
  charts/kubeadm/templates/bin/_anchor.tpl
  promenade/templates/include/up.sh
  promenade/templates/roles/common/etc/systemd/system/haproxy-auxiliary.service
  promenade/templates/roles/common/usr/local/bin/haproxy
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Run kubeadm init phase bootstrap-token against a temp copy of admin.conf
  charts/kubeadm/templates/bin/_anchor.tpl
  promenade/templates/roles/genesis/etc/kubernetes/manifests/auxiliary-kubeadm-etcd.yaml
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Substitution globbing feature implementation
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Updating deps
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Making the chart completely overridable
  charts/kubeadm/overrides/full-replace-bundle.yaml
  charts/kubeadm/templates/entrypoint.yaml
  charts/kubeadm/templates/lib/bundle/_manifest.tpl
  charts/kubeadm/templates/lib/bundle/_manifests.tpl
  charts/kubeadm/templates/lib/bundle/_template.tpl
  charts/kubeadm/values.yaml
Due: none

Update deckhand dep (fix regex glob)
  requirements-direct.txt
  requirements-frozen.txt
Due: airship-promenade-docker-build-gate-ubuntu_xenial, airship-promenade-docker-build-gate-ubuntu_bionic, airship-promenade-docker-build-post-ubuntu_xenial, airship-promenade-docker-build-post-ubuntu_bionic, airship-promenade-docker-build-gate-ubuntu_jammy, airship-promenade-docker-publish_ubuntu_jammy

Implement pure Go-template GZIP encoder with optional RLE compression
  charts/kubeadm/overrides/tgz.yaml
  charts/kubeadm/templates/bin/_bootstrap.tpl
  charts/kubeadm/templates/lib/_gzip.tpl
  charts/kubeadm/test.sh
  charts/kubeadm/values.yaml
Due: none

Allowing the case when scheduler and ctrl manager work with local api
  charts/kubeadm/overrides/vip.yaml
  charts/kubeadm/templates/phases/_kubeconfig.tpl
  charts/kubeadm/templates/phases/_kubelet.tpl
  charts/kubeadm/templates/phases/snippets/kubeconfig/_kubeconfig.yaml.tpl
Due: none

fixing etcd join issue
  charts/kubeadm/templates/bin/_anchor.tpl
Due: none

Kubeadm changes server url during upgrade - changing it back
  charts/kubeadm/templates/bin/_anchor.tpl
Due: none
